@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}

.quem-somos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 900px;
  /* Mantém a altura fixa para desktop */
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}


.conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  gap: 20px;
}

.texto-principal {
  flex: 1;
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  height: 350px;
  text-align: left;
  /* margin-bottom:px; */
}


p {
  font-size: 21px;
  margin-bottom: 20px;
  color: black;
  /* Adiciona espaçamento entre os parágrafos */
}

.imagem-container {
  display: flex;
  align-items: center;
}

.imagem-precision {
  position: relative;
  width: 350px;
  height: 100%;
  margin-bottom: 30px;
}

/* Ajustes para telas menores (mobile e tablets) */
@media screen and (max-width: 1200px) {
  .conteudo {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    text-align: center;
  }

  .quem-somos-section h2 {
    margin-top: 250px;
    font-size: 24px;
  }

  .quem-somos-section p {
    font-size: 16px;
  }

  .texto-principal {
    font-size: 16px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .imagem-precision {
    width: 100%;
    max-width: 350px;
    height: auto;
    margin-bottom: 200px;
  }

  .conteudo p {
    text-align: justify;
    font-size: 14px;
    padding: 0px 20px;
    margin-bottom: 10px;
  }

}